{% extends 'pages/home.html'%}
{% load static %}


{% block body %}
<img src="{% static 'images/np.jpeg'%}">



<div class="items">
    <div class="text">
        <h1>Popular Items</h1>
    </div>
    <div class="box">
        <div class="products">
            <div class="img">
                <img src="{{obj.images.url}}">
            </div>
            <div class="detials">
                <p>¥{{ obj.price }}</p>
                <i class="fa-regular fa-heart">4</i>
                <p>{{ obj.title }}</p>
                <p>{{ obj.description }}</p>
                


            </div>
        </div>
    </div>
</div>
{% endblock %}