{% extends 'pages/home.html'%}
{% block title %} login {% endblock %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block body %}
<style>
    *{
        margin: 0;
        padding: 0;
    }

    main{
        width: 15%;
        height: 100%;
        background-color: rgb(194, 203, 203);
    }
    ul{
        height: 100%;
        list-style-type: none;
    }
    .menu{
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
    }

    .menu a {
  color: black;
  padding: 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
    .menu button {
  display: block;
  color: black;
  padding: 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.contat{
    margin-left: 20%;
    padding: 1px 16px;
}
button{
    border: none;
}
.tabcontent {
  color: black;
  display: none;
  height: 100%;
}
#Home{
    margin-top: 30px;
    margin-left: 30px;
    background-color: white;
}
#Shipping{
    margin-top: 30px;
    margin-left: 30px;
}
#Shipping a{
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 50px;
    padding: 15px 20px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20;
    color: white;
}
.myForm{
    margin-top: 90px;
}
#Shipping h3{
    margin-bottom: 30px;
}
</style>
<main>
    <div class="logo">
    </div>
    <div class="menu">
        <ul>
            <li><button class="tablink" onclick="openPage('Home', this)" id="defaultOpen">Overviews</button></li>
            <li><button class="tablink" onclick="openPage('Order', this)">Order</button></li>
            <li><button class="tablink" onclick="openPage('Payment', this)">Payment</button></li>
            <li><button class="tablink" onclick="openPage('Shipping', this)">Shipping Address</button></li>
            <li><button class="tablink" onclick="openPage('Setting', this)">Setting</button></li>
            <li><a href="">Help Center</a></li>
            <li><a href="">Return to pages</a></li>
        </ul>
    </div>
    </main>
    <div class="contat">
    <div id="Home" class="tabcontent">
        <h3>Yabindra Bhujel</h3>
    </div>
    

    <div id="Order" class="tabcontent">
        <h3>0rder</h3>
    </div>

    <div id="Payment" class="tabcontent">
        <h3>Payment</h3>
    </div>

    <div id="Shipping" class="tabcontent">
        <h3> My Shipping Address </h3>
        {% if address in user_address %}
        <h2>Your address</h2>
        {% else %}
        <a href="">Add New Address</a>
        <div class="myForm">
            <div class='col-sm-6'>
            <form action="" method="POST">
                {% csrf_token %}
                {% crispy user_address %}
                <button type="submit" class="btn btn-secondary btn-lg">POST</button>
            </form>
            {% endif %}
            </div>
        </div>
    </div>
    <div id="Setting" class="tabcontent">
        <h3>Setting</h3>
    </div>
    </div>


<script>
    function openPage(pageName, elmnt, ) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor 
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

{% endblock %}